<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
</head>
<body>
    <h3>URL Shortener</h3>
    <form id="form" method="post">
        <input type="text" , id="url" placeholder="Enter your URL" required />
        <input type="submit" value="Shorten" /><br>
        <input type="text" , id="alias" placeholder="Alias(Optional)" /></br><br>
    </form>
    <div>
        <input type="text" , id="shortURL" readonly/>
        <button onclick="myFunction()">Copy text</button>
    </div>
</body>
<script>
    var form = document.getElementById('form')
    form.addEventListener('submit', function (e) {
        e.preventDefault()
        var url = document.getElementById('url').value
        var alias = document.getElementById('alias').value

        fetch('https://labwired.tech/shorten', {
            method: 'POST',
            body: JSON.stringify({
                url: url,
                alias: alias,
            }),
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
            }
        })
            .then(function (response) {
                return response.json()
            })
            .then(function (data) {
                console.log(data)
                shortURL = document.getElementById("shortURL")
                if (data.status != 2) {
                    shortURL.value = data.message
                }
                else shortURL.value = data.shortLink
            }).catch(error => console.error('Error:', error));
    });

    function myFunction() {
        var copyText = document.getElementById("shortURL");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
    }

</script>
</html>